.content-form-login {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #000;
  padding: 5px;
}

.content-form-login h1 {
  text-align: center;
}

.item-component {
  display: block !important;
}

.item-component > div {
  margin: 0 0 0 0;
}

.error-login {
  text-align: center;
  color: red;
}
